* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}

.header {
    background: #FFF8F3;
    background-image: url(images/header_bg.png), url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.li-style {
    text-decoration: none;
    color: black;
}

.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about {
    max-width: 1140px;
    margin: 0 auto;
}

.about-container {
    margin-top: 200px;
    background: #FFF8F3;
    padding: 180px 120px 120px 120px;

}

.about-me {
    text-align: center;
    justify-content: space-around;
    padding-bottom: 40px;
}

.style-about-me {
    padding-bottom: 60px;
    font-size: 35px;
    font-weight: 600;
    color: #000000;
}

.style-about-p {
    color: #757575;
    word-spacing: 1px;
    font-size: 17px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.about-info-subject {
    color: #757575;
    word-spacing: 1px;
    font-weight: 300;
}

.about-info-description {
    color: #474747;
}

.whatido {
    margin-top: 150px;
    margin-bottom: 150px;
}

.style-whatido {
    padding-bottom: 60px;
    font-size: 35px;
    font-weight: 600;
    color: #000000;
    text-align: center;
}

.skills {
    display: flex;
    padding: 10px;
    gap: 24px;
}

.skills-container {
    padding: 40px;
    margin-left: 10px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}

.icons {
    padding-bottom: 30px;
}

.skills-title {
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
}

.skills-description {
    color: #757575;
}

.resume {
    max-width: 1140px;
    margin: 0 auto;
}

.resume-container {
    display: flex;
    gap: 24px;
    margin-bottom: 80px;
    margin-top: 80px;
}

.resume-header {
    text-align: center;
    font-weight: 600;
    font-size: 35px;
}

.sub-heading {
    font-weight: 350;
    font-size: 20px;

}

.ex-title {
    font-weight: 550;
    font-size: 20px;
    margin-bottom: 15px;
    color: #757575;
    margin-top: 30px;
}

.ex-subtitle {
    font-weight: 200;
    font-size: 19px;
    margin-bottom: 15px;
    color: #757575;
}

.ex-p {
    font-size: 18px;
    padding-bottom: 30px;
    color: #757575;
    font-weight: 150;
}

.resume-button {
    text-align: center;
    margin-bottom: 130px;
}